flask>=3.1.0
flask-cors>=6.0.0
flask-restful==0.3.10
flask-principal==0.4.0
chardet==5.2.0
celery>=5.5.0
flower==2.0.1
flask-sqlalchemy==3.1.1
langid==1.1.6
networkx==3.2.1
babel>=2.17.0
elasticsearch==7.17.12
elasticsearch-dsl==7.4.1
iso639==0.1.4
couchdb==1.2
pymongo>=4.6.3
redis>=5.2.0
lxml>=6.0.2
zipstream==1.1.4
uwsgi>=2.0.26
kytea==0.1.7
requests>=2.32.4
requests-toolbelt==1.0.0
treetaggerwrapper==2.3
nltk>=3.9.1
pyyaml>=6.0.3
regex>=2025.2.10
editdistance==0.6.2
translate==3.6.1
pyresttest==1.7.1
psycopg2==2.9.9
pexpect==4.9.0
microsofttranslator==0.8
cmreshandler==1.0.0
numpy<2.0
pytensor>=2.19.0
gunicorn==22.0.0
opensearch-dsl==2.1.0
opensearch-py>=2.3.0
pyjwt==2.8.0
cryptography>=43.0.1
amqp>=5.3.1